figure{
    border-radius: 100%;
    width: 95%;
    background-color: pink;
    transition: width 2s, height 2s;
}

figure:hover{
    width: 110%;
    height: 110%;
}

img{
    max-width: 100%;
}

.alerta{
    font-size: 40px;
    color: red;
    text-align: center;
}

.contenedorPadreRecibido{
    display: flex;
    flex-direction: row;
    
}



.recibido{
    background-color: chartreuse;
}

.contenedorPadreEnviado{
    display: flex;
    flex-direction: row-reverse;
    
}

.enviado{
    background-color:fuchsia;
}

.contenedorLogo{
    width: 30px;
    height: 24px;
    background-color: yellow;
    transition: background-color 2s;
}

.contenedorLogo:hover{
    background-color: green;
}

.viajandoOriginal{
    fill:black;
}

.sinLeer{
    font-weight: bold;
}




#contenedorMensajeEnviado{
    display: none;
}

#chatCentral{
    padding-top: 50px;
}

@media screen and (min-width: 768px) {
    .viajandoOriginal{
        fill:blue;
    }

    .contenedorLogo{
        width: 30px;
        height: 24px;
        background-color:burlywood;
    }

    figure:hover{
        width: 200%;
        height: 200%;
        background-color: beige;
    }
     
    
}